data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-06.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-05.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-04.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-03.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-02.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2025-01.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2024-12.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2024-11.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2024-10.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2024-09.parquet filter=lfs diff=lfs merge=lfs -text
data/uber_nyc_forhire_2025/fhvhv_tripdata_2024-08.parquet filter=lfs diff=lfs merge=lfs -text
